.userHome {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vw;
    padding: 20px;
    /* background-image: url(./../assets/images/floor.png); */
}


.sideBar h3,
.section2 h3 {
    display: flex;
    justify-content: center;
}


.section2 ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picButton,
.bioButton,
.interestButton {
    background-color: darkslategrey;
    color: #fff;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0, 3s ease;
    animation: changeColor 1.9s infinite alternate;

    &:hover {
        transform: scale(1.1);
    }
}

@keyframes changeColor {
    0% {
        background-color: darkgrey;
    }

    25% {
        background-color: gray;
    }

    50% {
        background-color: darkgray;
    }

    75% {
        background-color: gray;
    }

    100% {
        background-color: darkgrey;
    }
}

.sideBar-section2{
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 5px;
}

.sideBar {
    flex-basis: 20%;
    border-radius: 4px;
    background-image: url(./../assets/images/paper-1158445.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.main {
    flex: 1;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around
}

.section1 {
    flex: 1;
    padding: 20px;
    border-radius: 4px;
    background-image: url(./../assets/images/paper-1158445.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}


.section2 {
    flex: 1;
    background-image: url(./../assets/images/paper-1158445.jpg);
    background-size: cover;
    background-position: center center;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .userHome {
        flex-direction: column;
    }

    .sideBar-section2{
        flex-direction: column;
    }

    .sideBar{
        flex-basis: 100%;
    }
}